/* Estilos padrão */
body {
  background-color: #020912;
  font-family: "Roboto", sans-serif;
}
.login-container {
  margin: 0 auto;
  padding: 3vw;
  margin-top: 11%;
  max-width: 40%;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
  border-radius: 2vw;
  background: rgba(255, 255, 255, 0.3);
}

.h1Login {
  text-align: center;
  color: #4CE364;
  font-size: 2em;
}

.input-container {
  margin-bottom: 2vw;
}

.emailInput, .passwordInput {
  width: 89%;
  padding: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  border: 0.1vw solid #ddd;
  border-radius: 1vw;
  font-size: 1em;
}

.loginButton, .createAccountButton {
  width: 100%;
  padding: 2vw;
  background-color: #4CE364;
  color: #fff;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 2vw;
}

.loginButton:hover {
  background-color: #45a049;
}

.createAccountButton {
  margin-top: 1vw;
  background-color: #0C1420;
}

.createAccountButton:hover {
  background-color: #1a1f2b;
}

/* Estilos para dispositivos móveis */

@media screen and (max-width: 768px) {
  .login-container {
    padding: 4vw;
    margin-top: 55%;
    max-width: 70%;
  }

  .h1Login {
    font-size: 1.7em;
  }

  .emailInput, .passwordInput {
    width: 94%;
  }

  .inputContainer {
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .loginButton, .createAccountButton {
    padding: 3vw;
    font-size: 1em;
  }
}
