# Configurações de email
email.username=seu_email@gmail.com
email.password=sua_senha_secreta
email.host=host
email.port=000

# Configurações do banco de dados
spring.datasource.url=jdbc:mysql://localhost:3306/meu_banco_de_dados
spring.datasource.username=usuario_bd
spring.datasource.password=senha_bd
spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
spring.jpa.hibernate.ddl-auto=update

# Configurações de segurança
security.jwt.secret=segredo_super_secreto
security.jwt.expiration-time=86400000 # Tempo de expiração do token em milissegundos (24 horas)
api.security.token.secret="secret"

# Outras configurações
debug=true
log-level=debug
spring.jpa.show-sql=true
